<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <header>
            <div>
                DevBurger
            </div>
            <div>
                <a href="/">Voltar para página inicial</a>
            </div>
        </header>
    </main>
    <h1>Página não encontrada</h1>
</body>
</html>