<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <header>
            <div>
                <a href="/">DevBurger</a>
            </div>
            <div>
                <a href="/contato">Contato</a>
                <a href="/api/lanches">Lanches</a>
            </div>
        </header>
        <h1>Sugerir lanche</h1>
        <form id="form-sugerir-lanche" action="/sugestao" method="get">
            <label for="form-sugerir-nome">Nome do lanche</label>
            <input type="text" id="form-sugerir-nome" name="nome">
            <label for="form-sugerir-ingredientes">Ingredientes</label>
            <textarea id="form-sugerir-ingredientes" name="ingredientes"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </main>
</body>
</html>