* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    background-color: antiquewhite;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}