* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    background-color: #232529;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 1px 3px 16px 0px rgba(105,105,105,0.75);
}

.logo {
    height: 45px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 35px;
    letter-spacing: 3px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* main {
    display: flex;
    flex-direction: column;
} */

.form-div {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-div > form {
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    background-color: #d9d9d9;
    box-shadow: 1px 3px 16px 0px rgba(105,105,105,0.75);
}
.form-div > form > input {
    border-radius: 30px;
    height: 50px;
    padding: 12px;
    border-style: none;
    margin-bottom: 12px;
    font-family: inherit;
    font-size: 15px;
}

.form-div > form > textarea {
    border-radius: 20px;
    height: 100px;
    border-style: none;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 15px;
}

.form-div > form > button {
    border-radius: 30px;
    height: 50px;
    color: white;
    background-color: rgb(192, 56, 56);
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inherit;
}

.form-div > form > button:hover {
    cursor: pointer;
    background-color: rgb(163, 48, 48);
}

.form-div > form > label {
    font-weight: bold;
    letter-spacing: 2px;
}

.sugerir-lanche-section > h1 {
    text-align: center;
}

.contato > h1 {
    text-align: center;
}

.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found > h2 {
    font-size: 50px;
}

.page-not-found > h1 {
    font-size: 60px;
    color: #2b2170;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 0px;
}

.page-not-found > a {
    background-color: rgba(105,105,105,0.75);
    padding: 10px 30px;
    color: white;
    border-radius: 30px;
}

textarea {
    resize: none;
    font-family: inherit;
}

ul {
    list-style: none;
}

.cardapio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardapio-list {
    width: 750px;
    margin: 0px;
    padding: 20px;
    background-color: #232529;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 3px 16px 0px rgba(105,105,105,0.75);
}

.cardapio-item-nome {
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.cardapio-item-ingredientes {
    color: gray;
    font-size: 14px;
}

.cardapio-line-break {
    border-top-style: solid;
    border-width: 0.5px;
    border-color: gray;
}